h3{
    color: white;
}
h4{
    color: blue;
}

.bg{
    background-image: -webkit-linear-gradient(left, #7f85cf, #00c6ff);
}

footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(left, #7f85cf, #00c6ff);
    color: white;
    text-align: left;
}

.active{
    font-weight: bold;
    -webkit-text-fill-color: white;
}

.tengah{
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    top:10%;
    bottom:100%;
    left: 0;
    right: 0;
}